assets/fonts/starjedi/*.doc
assets/fonts/starjedi/*.jpg
assets/fonts/stjelogo/*.doc
assets/fonts/stjelogo/*.jpg
assets/fonts/starjout/*.doc
assets/fonts/starjout/*.jpg
assets/fonts/stjedise/
.ipynb_checkpoints
__pycache__/
